.login-page-mod {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('/public/storage/img/login.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-attachment: fixed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sidebarper {
  background: linear-gradient(to left, #0285D0, #0073AF, #004876);
}